@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
}
h1 {
  color: #272C32;
  font-size: 32px;
  line-height: 39px;
  font-weight: 600;
  align-self: flex-start;
}
.wrap {
  bottom: 0;
  left: 0;
  padding-bottom: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  background: #202730;
  border:1px solid red;
}
.room-wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80%;
  border: 5px solid #9ecfd6;
}
.test-video-container {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 2px solid #8b9b5c;
}
.video-box {
  width: 48%;
  min-height: 100px;
  border: 1px solid #CCFF00;
  position: relative;
}
.video-box:hover .videoView-topToolbar {
  opacity: 1;
}
.videoView-topToolbar {
  display: flex;
  position: absolute;
  top: 12px;
  right: 12px;
  width: 100%;
  z-index: 20;
  justify-content: flex-end;
  /* border: 2px solid #ff1975; */
  transition: all .2s linear;
  opacity: 0;
}
.videoView-topToolbar button {
  background: transparent;
  cursor: pointer;
  border: none;
}
.videoView-topToolbar button figure {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.videoView-topToolbar button figure div {
  background-color: rgba(0,0,0,0.7);
  height: 38px;
  width: 169px;
  border-radius: 4px;
  color: #fff;
  font-size: 18px;
  line-height: 36px;
  text-align: center;
  display: none;
}
.videoView-bottomLeftName {
  --size: 24px;
  --font-size: 15px;
  overflow: hidden;
  font-size: var(--font-size);
  position: absolute;
  bottom: 0;
  left:0;
  z-index: 20;
  max-width: 100%;
  display: flex;
}
.videoView-bottomLeftName p, .videoView-bottomLeftName input {
  margin: 0 6px;
  line-height: var(--size);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background: transparent;
  border: none;
  color: #fff;
  padding: 0;
  font-size: 16px;
  font-weight: 600;
}
