@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');
@import url('https://fonts.googleapis.com/css?family=Lato');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
body {
  font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
}
h2 {
  font-size: 26px;
  line-height: 32px;
  font-weight: 400;
}

.wrap {
  bottom: 0;
  left: 0;
  padding-bottom: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  /* border:1px solid red; */
}
.room-wrap {
  display: flex;
  height: 100%;
}
.video-view {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column wrap;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  z-index: 2;
  /* margin-bottom: 80px; */
  /* border: 1px solid blue; */
  background: url(../images/bg.jpg) no-repeat;
  background-size: cover;
}
.video-space-header {
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  z-index: 3;
  pointer-events: none;
  display: flex;
  justify-content: center;
  transition: all .2s ease;
}
.room-url-wrapper {
  pointer-events: all;
  display: flex;
  height: 5.2em;
  flex-direction: column;
  justify-content: space-around;
}
.copy-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  padding-top: 0px;
  margin-top: -10px;
  cursor: pointer;
}
.copy-button-wrapper img {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}
.rec-start, .rec-end, .first-guest {
  line-height: 24px;
}
.notification-wrapper {
  position: absolute;
  color: #fff;
  right: 300px;
  top: 50px;
  /* overflow: hidden; */
}
.notification-wrapper img {
  margin-right: 16px;
}
p.notification-msg {
  padding: 0 10px;
  height: 52px; /* when it's single line. {height: 29px;} height changes accordingly. */
  display: flex;
  align-items: center;
  line-height: 17px; /* when it's single line. line-height default is 27px. it changes accordingly. */
}
.chat-open-button{
  position: absolute;
  right: 24px;
  bottom: 10px;
  transition: opacity .2s;
  width: 2.5em;
  height: 2.5em;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  line-height: 14px;
  color: #fff;
  cursor: pointer;
  transition: all .2s ease;
  width: 64px; /* for chat icon */
  height: 64px; /* for chat icon */
  background: rgba(13,22,36,.5);
  border-radius: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chat-open-button img {
  width: 32px; /* for new chat icon */
  height: 32px; /* for new chat icon */
}
.chat-open-button.visible, .notification-wrapper.visible {
  z-index: 800;
  opacity: 1;
  /* transition-duration: .3s;
  transition-delay: .4s; */
}
.chat-msg-badge {
  display: block;
  color: #fff;
  width: 22px;
  height: 16px;
  background: #C72844;
  border-radius: 8px;
  font-size: 12px;
  position: absolute;
  top: 3px;
  left: -3px;
  line-height: 16px;
  font-weight: lighter;
}
.chat-msg-banner, .rec-disabled-msg, .notification-msg {
  font-size: 12px;
  width: 288px;
  height: 29px;
  background: rgba(0, 0, 0, .55);
  border-radius: 5px;
  letter-spacing: 1px;
  font-weight: normal;
  position: absolute;
  line-height: 27px;
}
.chat-msg-banner {
  top: -50px;
  left: -248px;
}
.rec-disabled-msg {
  color: #fff;
  top: -60px;
  text-transform: none;
}
.screen-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  align-items: center;
  flex:.9;
  /* flex-grow: 1; */
  justify-content: space-around;
  width: 85%;
  position: relative;
  /* border:2px solid pink; */
}
.screen-container.fullscreen{
width: 100%;
flex: 1;
}
.video-box {
width: 48%;
min-height: 100px;
/* border: 1px solid #CCFF00; */
position: relative;
}
/* video off added */
.cam-off-msg {
  position: absolute;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all .3s ease;
}
.cam-off-msg img {
  width: 32px;
  height: 32px;
}
.cam-off-msg p {
  color: #fff;
}
#videoFrame {
  position: relative;
  transition: all .2s ease;
}
/* End video off added */
/* Host Entered Alone Copy link button */
.join-call {
  width: 100%;
  height: 105px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -155px;
}
/* Button Hover 2 */
a.button2, .join-call a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #C72844;
  border-radius: 38px;
  height: 2.8em;
  width: 10em;
  padding: 0;
  outline: none;
  overflow: hidden;
  color: #fff;
  -webkit-transition: color 0.3s 0.1s ease-out;
  transition: color 0.3s 0.1s ease-out;
  text-align: center;
  line-height: 250%;
  z-index: 1;
}
a.button2::before, .join-call a::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: '';
  border-radius: 50%;
  display: block;
  width: 20em;
  height: 20em;
  line-height: 20em;
  left: -5em;
  text-align: center;
  -webkit-transition: -webkit-box-shadow 0.5s ease-out;
  transition: -webkit-box-shadow 0.5s ease-out;
  transition: box-shadow 0.5s ease-out;
  transition: box-shadow 0.5s ease-out, -webkit-box-shadow 0.5s ease-out;
  z-index: -1;
  background: #C72844;
}
a.button2:hover, .join-call a:hover {
  color: #fff;
}
a.button2:hover::before, .join-call a:hover::before {
  -webkit-box-shadow: inset 0 0 0 10em #E8657C;
          box-shadow: inset 0 0 0 10em #E8657C;
}
/* End Button Hover 2 */
.join-call a.button {
  top: 100px;
  width: 327px;
}
.join-call a.button::before {
  width: 327px;
  left: 0;
}
.save-btn {
  width: 100%;
  height: 110px;
  position: relative;
  /* border: 2px solid #eeee00; */
}
/* End Host Entered Alone Copy link button */
.video-box.fullscreen {
width: 100%;
height: 100%;
}
.screen-container .video-box:nth-child(2) {
  background: pink;
}
.screen-container .video-box:nth-child(3) {
  background:#cd5f79;
}
.screen-container .video-box:nth-child(4) {
  background: #f2c9c4;
}
.screenShareOwner {
width: 173.3px;
height: 130px;
align-self: flex-end;
margin-left: 19px;
position: relative;
transition: all .2s ease;
/* border: 2px solid #000; */
}
.screenShareOwner.fullscreen{
position: absolute;
right: 37px;
bottom: 119px;
}
.video-toolbar-fixed {
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all .2s ease;
  width: 100%;
  z-index: 10;
  display: flex;
  transform: translateY(0%);
  /* border: 2px solid #ffff66; */
}
.toolbarHide {
  transform: translateY(150%);
}
.ownervideoDown {
  transform: translateY(80%);
}
.copylinkHide {
  transform: translateY(-80%);
}
/* Toobar hide class */
.video-toolbar {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  /* overflow: hidden; */
  /* border: 2px solid #ff0066; */
}
.meeting-ctrl {
  justify-content: flex-end;
  display: flex;
  background-color: rgba(13,22,36,.5);
  border-radius: 32px;
  /* overflow: hidden; */
  /* border: 2px solid salmon; */
}
.video-toolbar-item {
  --button-text-color: #fff;
  color: var(--button-text-color);
  position: relative;
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  font-weight: 600;
  height: 64px;
  justify-content: center;
  /* padding: 0 15px; */
  text-align: center;
  min-width: 72px;
  border-radius: 0;
  /* border:2px solid green; */
  border: none;
  background: transparent;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  width: 72px;
}
.video-toolbar-item:hover {
  background: rgba(13,22,36,.7);
  border-radius: 36px;
}
.video-toolbar-item.leave-button {
  background-color: rgba(199, 40, 68, .8);
  border-radius: 36px;
}
.video-toolbar-item img {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  height: 24px;
}
#recBtn div { /* Guest screen, and when 1 hour free recording is finished. */
  color: #fff;
  opacity: .2;
}
#recBtn:hover {
  background: none;
}
.video-toolbar-item img.rec-btn {
  height: 54px;
  position: absolute;
  top: -26px;
}
.video-toolbar-item img.rec-btn-on {
  position: absolute;
  height: 54px;
  top: -26px;
  display: none;
}
/* Video, Mic btn on off */
.video-toolbar-item img.video-btn, .video-toolbar-item img.mic-btn {
  display: block;
}
.video-toolbar-item img.video-btn-off, .video-toolbar-item img.mic-btn-off {
  display: none;
}
/* End Video, Mic btn on off */
.video-toolbar-item div {
  text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
  font-size: 12px;
  white-space: nowrap;
  width: 100%;
  min-width: 50px;
  margin-top: 6px;
}
.video-frame {
  position: relative;
  /* border: 2px solid #77e1f9; */
}
.video-box:hover .videoView-topToolbar {
  opacity: 1;
}
.videoView-topToolbar {
  display: flex;
  position: absolute;
  top: 12px;
  right: 12px;
  width: 100%;
  z-index: 20;
  justify-content: flex-end;
  /* border: 2px solid #ff1975; */
  transition: all .2s linear;
  opacity: 0;
}
.videoView-topToolbar button {
  background: transparent;
  cursor: pointer;
  border: none;
}
.videoView-topToolbar button figure {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  border-radius:15px;
  background: rgba(0,0,0,.5);
}
.videoView-topToolbar button figure img { /* for new maximize icon */
  width: 24px;
  height: 24px
}
.videoView-topToolbar button figure div {
  background-color: rgba(0,0,0,0.7);
  height: 38px;
  width: 169px;
  border-radius: 4px;
  color: #fff;
  font-size: 18px;
  line-height: 36px;
  text-align: center;
  display: none;
}
.videoView-bottomLeftName {
  --size: 24px;
  --font-size: 15px;
  overflow: hidden;
  font-size: var(--font-size);
  position: absolute;
  bottom: 0;
  left:0;
  z-index: 20;
  max-width: 100%;
  width: 150px;
  display: flex;
  background: rgba(0,0,0,.5);
}
.videoView-bottomLeftName p, .videoView-bottomLeftName input {
  margin: 0 6px;
  line-height: var(--size);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background: transparent;
  border: none;
  color: #fff;
  padding: 0;
  font-size: 16px;
  font-weight: 600;
}
/* Attendee list */
.room-activity {
height: 100%;
z-index: 21;
/* flex: 1; */
max-width: 248px;
transition-duration: .1s;
border-top-right-radius: 3px;
display: none;
justify-content: flex-end;
flex-direction: column;
background: url(../images/bg.jpg) no-repeat;
background-size: cover;
/* border: 2px solid red; */
}

.room-activity .max-guest-number {
z-index: 1;
margin-bottom: 48px;
text-align: center;
}

.room-activity .max-guest-number p {
color: #fff;
font-size: 14px;
line-height: 17px;
}

.room-activity.open {
transform: translateX(0px);
width: 100%;
display: flex;
}

.room-activity:not(.open) {
min-width: 0;
transform: translateX(calc(-1000% - 8px));
}
.room-activity {
  transform: translateX(-8px);
  width: 100%;
}
.room-list-content {
  width: 248px;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  display: flex;
  background-color: rgba(0,0,0,0.5);
  box-shadow: 2px -2px 4px 0 rgba(87,87,87,0.5);
  flex-direction: column;
  /* border: 2px solid #00ff7f; */
}
.room-list-content div h1 {
  color: #fff;
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  padding-bottom: 17px;
  padding-left: 16px;
  /* border-bottom: 1px solid rgba(218,218,218,0.23); */
}
.room-list-header, .chat-area-header {
  height: 10px;
  padding: 8px 8px;
  flex-shrink: 0;
  margin-bottom: 4px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
  z-index: 2;
  /* border: 2px solid #ccff00; */
}
.chat-area-header {
  background: rgba(0,0,0,.5);
  margin-bottom: 0px;
  height: 30px;
}
.room-list-header button.close-button {
  width: 24x;
  height: 24px;
  background: url("../images/icon/leave.png") no-repeat 50% 50%;
  border: none;
  cursor: pointer;
  background-size: contain;
}
.room-list-header button.close-button:focus, .room-list-item-wrapper button.video-sound:focus,.room-list-item-wrapper button.sound-off:focus, #chatArea .chat-msg-area .chat-area-header .close-button:focus  {
  outline: 0;
}
.room-list-content div ul {
  /* border: 2px solid #ccff00; */
}
.room-list-item {
  list-style: none;
  width: 100%;
  height: 56px;
  transition: background-color .2s ease-out;
  border-bottom: 1px solid rgba(218,218,218,0.23);
}
.room-list-item-wrapper {
  height: 100%;
  align-items: center;
  padding: 0 16px;
  display: flex;
  flex-direction: row;
}
.room-list-item-wrapper div {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  min-width: 0;
  color: #fff;
  cursor: pointer;
  align-items: center;
  text-decoration: none;
  position: relative;
}
.room-list-item-wrapper div.text-container {
  /* position: absolute;
  left: 60px; */
  font-size: 12px;
}
.room-list-item-wrapper div div.host-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.room-list-item-wrapper div div.host-name span {
  font-size: 12px;
}
.room-list-item-wrapper div .camera-status-icon {
  margin-right: 11px;
  width: 24px;
  height: 24px;
  background: url("../images/icon/video-on.png") no-repeat 100% 100%;
  background-size: contain;
}
.room-list-item-wrapper div .cam-off {
  margin-right: 11px;
  width: 24px;
  height: 24px;
  background: url("../images/icon/video-off.png") no-repeat 100% 100%;
  background-size: contain;
}
/* .room-list-item-wrapper div:hover .camera-status-icon {
  background: url("../images/icon/video-hover.png") no-repeat;
} */
.room-list-item-wrapper button.video-sound {
  width: 24px;
  height: 24px;
  border: none;
  background: url("../images/icon/sound-on.png") no-repeat;
  cursor: pointer;
  background-size: contain;
}
.room-list-item-wrapper button.sound-off {
  width: 24px;
  height: 24px;
  border: none;
  background: url("../images/icon/sound-off.png") no-repeat;
  background-size: contain;
}
/* Leave Modal */
.leave-modal-wrap {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.leave-modal-wrap:target {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.leave-modal {
  width: 400px;
  position: relative;
}

.leave-modal-content {
  background: #fff;
  padding: 40px;
  border-radius: 2px;
  position: relative;
}
.leave-modal-content p {
  margin: 0;
  line-height: 1.6em;
  color: #444;
}

.leave-modal-close::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  right: 0px;
  top: 15px;
  z-index: 3;
  width: 24px;
  height: 24px;
  cursor: pointer;
  background: #fff;
  font-weight: 700;
  font-size: 11px;
  padding: 0 5px;
  line-height: 30px;
  color: #fff;
  background: url('../images/icon/close-dark.png') no-repeat;
  background-size: contain;
}

.leave-modal-close::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
}
.leave-modal-content .join-call {
  top: 0;
}
/* End Leave Modal */
/* Common Classes */
.block {
  display: block;
}
.none {
  display: none;
}
/* End Common Classes */

/* Chat Area CSS */
#chatArea {
  width: 0;
  background: url(../images/bg.jpg) no-repeat;
  background-size: cover;
  overflow: hidden;
  transition: all .2s ease;
  /* border: 2px solid #feff73; */
}
.chat-msg-area {
width: 100%;
height: calc(100% - 76px);
background: rgba(0,0,0,.5);
display: flex;
flex-direction: column-reverse;
overflow-y: auto;
/* // justify-content: flex-end; */
padding: 10px;
/* // -webkit-box-shadow: inset 0px 60px 50px -20px rgba(0,0,0,1);
// -moz-box-shadow: inset 0px 60px 50px -20px rgba(0,0,0,1);
// box-shadow: inset 0px 60px 50px -20px rgba(0,0,0,1); */
}
#chatArea .chat-area-header .close-button {
  width: 24px;
  height: 24px;
  background: url("../images/icon/leave.png") no-repeat 50% 50%;
  border: none;
  cursor: pointer;
  position: fixed;
  background-size: contain;
}
#chatMsgType {
  width: 100%;
  height: 46px;
  font-size: 16px;
  padding: 10px;
}
.chat-area-open {
  transform: translateX(-320px);
}
#chatUserName1, #chatUserName2 {
  font-size: 18px;
  color: #fff;
  line-height: 36px;
}
#chatUserName1Msg, #chatUserName2Msg  {
  font-size: 16px;
  color: #fff;
  font-weight:lighter;
  line-height: 24px;
  margin-bottom: 20px;
}
/* End Chat Area CSS */

/* Setting Modal CSS */
.test-video-container1 {
  width: 100%;
  /* height: 60%; */
  display: none;
  flex-direction: row;
  justify-content: center;
  min-height: 370px; /*min height added*/
  position: absolute;
  /* border: 2px solid #8b9b5c; */
}
.video-box1 {
  width: 48%;
  min-height: 100px;
  /* border: 1px solid #CCFF00; */
  position: relative;
}

/* Setting */
.settings-box {
  background: rgba(0,0,0,.5);
  position: relative;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  padding: 14px 35px;
  width: 48%;
  min-height: 100px;
  color: #fff;
  /* border: 1px solid #ffc057; */
}

.settings-box h1 {
  color: #FFFFFF;
  font-size: 22px;
  line-height: 30px;
  font-weight: 600;
  /* align-self: flex-start; */
  /* margin-left: 65px; */
}
.settings-box h2 {
  color: #fff;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 8px;
}
.settings-header {
  display: flex;
  z-index: 1;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 12px;
  /* border: 1px solid #c72844; */
}
button.close-button {
  width: 22px;
  height: 22px;
  background: url("../images/icon/close.png") no-repeat 50% 50%;
  border: none;
  cursor: pointer;
}
button.close-button:focus {
  outline: 0;
}
.settings-dropdown {
  height: 80%;
  /* border: 2px solid pink; */
}
.settings-form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.setting-dropdown-row1, .setting-dropdown-row2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* border: 1px solid #33ffcc; */
  height: 72px;
}
/*** Select Box ***/
.styled-select {
  /* border: 1px solid #32353B; */
  box-sizing: border-box;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
}
.styled-select, .styled-select select { width: 240px; font-size: 16px; color: #32353B;}
select:focus { outline: none; }
.styled-select select {
  height: 34px;
  padding: 5px 0 5px 5px;
  background: #fff;
  border: none;

  /*hide default down arrow in webkit */
  -webkit-appearance: none;
}

@-moz-document url-prefix(){
  .styled-select select { width: 110%; }
}

.fa-sort-desc {
  position: absolute;
  top: 0;
  right: 12px;
  font-size: 24px;
}

 select::-ms-expand { display: none; } /* hide default down arrow in IE10*/

/* hack to fall back in opera */
_:-o-prefocus, .selector {
  .styled-select { background: none; }
  }
/*** End Select Box ***/
/* End Setting Modal CSS */

/* New Button */
button.new-button {
  position: absolute;
  left:0;
  top: 50%;
  -webkit-transform: translateX(0) translateY(-50%);
          transform: translateX(0) translateY(-50%);
}
.join-call button.new-button {
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(50%);
          transform: translateX(-50%) translateY(50%);
}

button.new-button {
  background: #C72844;
  color: #fff;
  width: 200px;
  height: 50px;
  border: 0;
  font-size: 18px;
  border-radius: 25px;
  font-family: 'Open-sans', sans-serif;
  -webkit-transition: .3s;
  transition: .3s;
  overflow: hidden;
}
button.new-button:focus {
  outline: 0;
}
button.new-button:before {
  content: '';
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  width: 60px;
  height: 100%;
  left: 0;
  top: 0;
  opacity: .5;
  -webkit-filter: blur(30px);
          filter: blur(30px);
  -webkit-transform: translateX(-100px) skewX(-15deg);
          transform: translateX(-100px) skewX(-15deg);
}
button.new-button:after {
  content: '';
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  width: 30px;
  height: 100%;
  left: 30px;
  top: 0;
  opacity: 0;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-transform: translateX(-100px) skewX(-15deg);
          transform: translateX(-100px) skewX(-15deg);
}
button.new-button:hover {
  background: #E8657C;
  cursor: pointer;
}
button.new-button:hover:before {
  -webkit-transform: translateX(300px) skewX(-15deg);
          transform: translateX(300px) skewX(-15deg);
  opacity: 0.6;
  -webkit-transition: .7s;
  transition: .7s;
}
button.new-button:hover:after {
  -webkit-transform: translateX(300px) skewX(-15deg);
          transform: translateX(300px) skewX(-15deg);
  opacity: 1;
  -webkit-transition: .7s;
  transition: .7s;
}

/* End New Button */

/* Invite Area */
.invite-area {
  padding: 0 5%;
  height: 80%;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.invite-area ul {
  height: 200px;
}
.invite-area ul li h2 {
  color: #fff;
  font-size: 18px;
  margin-bottom: 10px;
}
.invite-area ul li input {
  width: 98%;
  height: 36px;
}
.invite-area ul li input.email-invite-input {
  background-image: url(../images/icon/email.png);
  background-size: 20px 20px;
  background-position: 7px 7px;
  background-repeat: no-repeat;
  padding-left:30px;
}
.invite-area ul li input.link-invite-input {
  background-image: url(../images/icon/link-dk.png);
  background-size: 20px 20px;
  background-position: 7px 7px;
  background-repeat: no-repeat;
  padding-left:30px;
}
.invite-area ul li p {
  color: #fff;
  font-size: 12px;
  line-height: 14px;
  margin-top: 12px;
}
.invite-area ul li .invite-btn {
  position: relative;
  height: 52px;
  margin-top: 16px;
}
.invite-area div.invite-seperator {
  width: 95%;
  height: 1px;
  background: rgba(255,255,255,0.5);
}
.invite-area ul li .invite-btn button.new-button {
  left: 50%;
  margin-left: -100px;
}

/* Lobby Modal */
.lobby-modal-wrap {
  --lobby-text-color: #fff;
  color: var(--lobby-text-color);
  width: 700px;
  height: 600px;
  background: #1C202E;
  position: absolute;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 2px;
}
.lobby-modal-wrap h1 {
  font-size: 22px;
  text-align: center;
}

.lobby-modal-wrap .settings-check {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.lobby-modal-wrap .settings-check .user-video {
  width: 300px;
  height: 220px;
  position: relative;
  border: 1px solid pink;
}
.lobby-modal-wrap .settings-check .settings-control {
  width: 270px;
}
.lobby-modal-wrap .settings-check .settings-control ul li h2{
  font-size: 18px;
}
.lobby-modal-wrap .settings-check .settings-control ul li select {
  width: 260px;
  height: 40px;
  background: #fff;
  border: none;
  font-size: 16px;
}
.lobby-control {
  width: 100%;
  text-align: center;

}
.lobby-control button {
  width: 80px;
  background: transparent;
  border: none;
  color: var(--lobby-text-color);
  font-size: 14px;
  outline: none;
  cursor: pointer;
}
.lobby-control button img {
  width: 32px;
  height: 32px;
}
.lobby-control .lobby-video-btn, .lobby-control .lobby-mic-btn {
  display: block;
}
.lobby-control .lobby-video-btn-off, .lobby-control .lobby-mic-btn-off {
  display: none;
}
.enter-meeting-btn {
  width: 100%;
  position: relative;
}
.enter-meeting-btn button.new-button {
  left: 50%;
  margin-left: -100px;
}
